services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre-web-automated
    environment:
      - PUID=99
      - PGID=100
      - TZ=America/New_York
      - UMASK=002

    volumes:
      - /mnt/user/appdata/calibre-web-automated:/config
      - /mnt/user/ebooks:/calibre-library
      - /mnt/cache/ebook_uploads:/cwa-book-ingest

    restart: unless-stopped

    ports:
      - 8873:8083

    networks:
      - calibre
      #- traefik-proxy

    # labels:
    #   - "traefik.enable=true"

    #   # Router
    #   - "traefik.http.routers.calibreweb.rule=Host(`ebooks.dege.app`)"
    #   - "traefik.http.routers.calibreweb.entrypoints=websecure"
    #   - "traefik.http.routers.calibreweb.tls=true"
    #   - "traefik.http.routers.calibreweb.tls.certresolver=letsencrypt"
    #   - "traefik.http.services.calibreweb.loadbalancer.server.port=8083"

networks:
  # traefik-proxy:
  #   external: true
  calibre:
    driver: bridge
