services:
  db:
    image: postgres:15
    container_name: mattermost-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: mattermost
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: mattermost
    volumes:
      - mm-postgres:/var/lib/postgresql/data
    networks:
      - mm-net

  app:
    image: mattermost/mattermost-team-edition:11.1.1
    container_name: mattermost
    restart: unless-stopped
    depends_on:
      - db
    environment:
      MM_SQLSETTINGS_DRIVERNAME: postgres
      MM_SQLSETTINGS_DATASOURCE: postgres://mattermost:${POSTGRES_PASSWORD}@db:5432/mattermost?sslmode=disable&connect_timeout=10
      MM_SERVICESETTINGS_SITEURL: "https://theborocrew.com"
      MM_FILESETTINGS_DRIVERNAME: local
      MM_LOGSETTINGS_ENABLECONSOLE: "true"
      MM_LOGSETTINGS_CONSOLELEVEL: INFO
    labels:
      traefik.enable: "true"
      traefik.docker.network: traefik-proxy
      traefik.http.routers.mattermost.rule: Host(`theborocrew.com`)
      traefik.http.routers.mattermost.entrypoints: websecure
      traefik.http.routers.mattermost.tls.certresolver: letsencrypt
      traefik.http.services.mattermost.loadbalancer.server.port: 8065
    volumes:
      - /mnt/user/mattermost/config:/mattermost/config
      - /mnt/user/mattermost/data:/mattermost/data
      - /mnt/user/mattermost/plugins:/mattermost/plugins
      - /mnt/user/mattermost/client/plugins/:/mattermost/client/plugins
    networks:
      - mm-net
      - traefik-proxy

volumes:
  mm-postgres:

networks:
  mm-net:
    driver: bridge
  traefik-proxy:
    external: true
