services:
  openwakeword:
    image: rhasspy/wyoming-openwakeword:latest
    container_name: openwakeword
    restart: unless-stopped

    ports:
      - "10400:10400"

    networks:
      - ha-net

networks:
  ha-net:
    external: true
