services:
  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    restart: unless-stopped
    environment:
      TZ: "America/New_York"
      CRON_MIN: "*/20"
      OIDC_ENABLED: "${OIDC_ENABLED}"
      OIDC_PROVIDER_METADATA_URL: "${OIDC_PROVIDER_METADATA_URL}"
      OIDC_CLIENT_ID: "${OIDC_CLIENT_ID}"
      OIDC_CLIENT_SECRET: "${OIDC_CLIENT_SECRET}"
      OIDC_CLIENT_CRYPTO_KEY: "${OIDC_CLIENT_CRYPTO_KEY}"
      OIDC_REMOTE_USER_CLAIM: "${OIDC_REMOTE_USER_CLAIM}"
      OIDC_SCOPES: "${OIDC_SCOPES}"
      OIDC_X_FORWARDED_HEADERS: "${OIDC_X_FORWARDED_HEADERS}"
    labels:
      traefik.enable: "true"
      traefik.docker.network: traefik-proxy
      traefik.http.routers.freshrss.rule: Host(`rss.dege.app`)
      traefik.http.routers.freshrss.entrypoints: websecure
      traefik.http.routers.freshrss.tls.certresolver: letsencrypt
      traefik.http.services.freshrss.loadbalancer.server.port: 80
    ports:
      - "8084:80"
    volumes:
      - /mnt/user/appdata/freshrss/www/data:/var/www/FreshRSS/data
      - /mnt/user/appdata/freshrss/www/extensions:/var/www/FreshRSS/extensions
    networks:
      - freshrss-net
      - traefik-proxy

networks:
  freshrss-net:
    driver: bridge
  traefik-proxy:
    external: true
