services:
  step-ca:
    image: {{ _step_ca_image }}
    container_name: {{ _step_ca_container_name }}
    restart: unless-stopped
    ports:
      - "{{ _step_ca_host_bind_address }}:{{ _step_ca_host_port }}:9000"
    volumes:
      - "{{ _step_ca_base_dir }}:/home/step"
